Source: so-666
Priority: extra
Maintainer: Jeremy <jeremy@susan>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/so-666.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/so-666.git;a=summary

Package: so-666-dev
Section: libdevel
Architecture: any
Depends: so-666BROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: so-666BROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
