Source: so-synth-lv2
Priority: extra
Maintainer: Jeremy Salwen<jeremybubs@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), lv2core
Standards-Version: 3.8.4
Section: sound
Homepage: http://d00m.org/~someone/
Vcs-Git: git@github.com:jeremysalwen/SO-synth-LV2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/so-666.git;a=summary

Package: so-synth-lv2
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A set of synthesizers for the LV2 plugin format
 This package is an unofficial port of the SO-666 synthesizer
 to the LV2 plugin format.  In order to use it, you need a host
 for LV2 plugins such as Ardour, Qtractor, or Ingen
